<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </button>
    <ion-title>Tarefas</ion-title>
  </ion-navbar>

</ion-header>

<ion-menu type="overlay" [content]="menuContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filtros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item-divider>POR TEMPO</ion-item-divider>
      <ion-item-group>
        <button ion-item (click)="limpaFiltros()">Todas</button>
        <button ion-item (click)="filtroDias(0)">Até Hoje</button>
        <button ion-item (click)="filtroDias(1)">Até Amanhã</button>
        <button ion-item (click)="filtroDias(7)">Até Próxima Semana</button>
      </ion-item-group>
      <ion-item-divider>POR PROJETO</ion-item-divider>
      <ion-item-group>
        <button ion-item *ngFor="let p of projetos" (click)="filtroProjeto(p.id)">{{p.nome}}</button>
      </ion-item-group>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #menuContent [root]="rootPage"></ion-nav>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let t of tarefas | filtro: filtroTarefas" (click)="selecionaTarefa(t.id)">
      <h2>{{t.descricao | uppercase}}</h2>
      <h3>{{nomeProjeto(t.projeto)}} ({{t.projeto}})</h3>
      <p>{{t.data | date: 'dd/MM/yyyy'}}</p>
      <ion-badge item-right [class.alta]="t.prioridade==1"
      [class.media]="t.prioridade==2"
      [class.baixa]="t.prioridade==3">
        {{t.prioridade}}
      </ion-badge>
    </button>
  </ion-list>
  <div id="right">
    <button ion-button round color="primary" (click)="novaTarefa()">
      <ion-icon name="add"></ion-icon>
    </button>
  </div>
</ion-content>
